{{!-- <section>
  <div class="container">

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th> Image</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">1</th>
          <td><img src="/images/{{this._id}}.jpg" alt="" style="width:60px ; height: 60px;"> </td>
          <td>{{this..products.Name}}</td>
          <td>{{this.products.Category}}</td>
          <td>{{this.products.Description}}</td>
          <td>{{this.products.Price}}</td>

        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section> --}}